@charset 'utf-8';
/* 介護老人保健施設 */
#longterm .main .main-wrap,
#longterm .localNav a:hover,
#longterm .localNav li::after,
#longterm #job {
	background: var(--longterm);
}
#longterm .main .main-inner .title {
	margin-bottom: 10px;
}
#longterm .main::before {
	background: var(--longterm2);
}
#longterm .summary {
	background: var(--longterm2);
	height: 248px;
	text-align: center;
}
#longterm .summary .text h2 {
	margin-bottom: 0;
}
#longterm .summary-image {
	width: 167px;
}
#longterm #merit .merit-item {
	background: var(--longterm2);
	border: 11px solid var(--longterm4);
}
#longterm #merit .merit-item h2 {
	color: var(--longterm3);
	top: -32px;
}
#longterm #merit .merit-item h3 span,
#longterm #merit .merit-item h3::before {
	color: var(--longterm3);
}
#longterm .highlighter {
	color: var(--longterm3);
	background: linear-gradient(#fff0 50%, #fff0 60%, var(--longterm4) 60%);
}
#longterm #job .highlighter {
	color: #444;
	background: linear-gradient(#fff0 50%, #fff0 60%, #9fe7ff 60%);
}
#longterm .mv_image02 {
	background-image: url(/mn_kaigoshoku/assets/images/support/special/facilitytype/mv_image02_longterm.png);
}
#longterm .mv_image03 {
	background-image: url(/mn_kaigoshoku/assets/images/support/special/facilitytype/mv_image03_longterm.png);
}
#longterm .mv_image04 {
	background-image: url(/mn_kaigoshoku/assets/images/support/special/facilitytype/mv_image04_longterm.png);
}
#longterm .localNav li::after {
	border: solid 1px var(--longterm);
}
#longterm .summary::before {
	background: center / contain no-repeat url(/mn_kaigoshoku/assets/images/support/special/facilitytype/longterm_summary02.png);
	bottom: 18px;
	right: 27px;
}
#longterm #job .swiper-slide {
	height: 275px;
}
#longterm #job .content_ttl::before,
#longterm #voice .content_ttl::before {
	top: 96px;
	height: 42px;
	background-image: url(/mn_kaigoshoku/assets/images/support/special/facilitytype/longterm_ttl.svg);
}
#longterm #job .job-tag {
	background-color: var(--longterm4);
}
#longterm #voice .content_ttl::before {
	height: 40px;
	background-image: url(/mn_kaigoshoku/assets/images/support/special/facilitytype/longterm_ttl_invert.svg);
	top: 86px;
}
#longterm h2 .service-name {
	bottom: 4px;
	margin-right: 0;
}
#longterm #merit .merit-item .second {
	height: 240px;
}
@media only screen and (max-width: 767px) {
	#longterm .mv_image_wrap {
		height: 40px;
		bottom: -49px;
	}
	#longterm .main .main-inner {
		padding-top: 4px;
	}
	#longterm .mv_image03 {
		top: -6px;
	}
	#longterm .summary-image {
		width: 126px;
		left: -64px;
		position: relative;
	}
	#longterm #job .content_ttl::before {
		width: 100%;
	}
	#longterm #voice .content_ttl::before {
		top: 48px;
	}
	#longterm .summary {
		padding-bottom: 30px;
		height: auto;
	}
	#longterm .summary::before {
		width: 135px;
		top: -10px;
		right: 15px;
	}
	#longterm h2 .service-name {
		width: 220px;
	}
	#longterm #merit .merit-item .second {
		height: 288px;
	}
	#longterm #job .swiper-slide {
		height: auto;
	}
}
