@charset 'utf-8';
/* デイサービス dayservice */
#dayservice .main .main-wrap,
#dayservice .localNav a:hover,
#dayservice.localNav li::after,
#dayservice #job {
	background: var(--dayservice);
}
#dayservice .main::before,
#dayservice .summary {
	background: var(--dayservice2);
}
#dayservice #merit .merit-item {
	border: 11px solid var(--dayservice2);
}
#dayservice .highlighter {
	color: var(--dayservice3);
	background: linear-gradient(#fff0 50%, #fff0 60%, var(--dayservice) 60%);
}
#dayservice #job .highlighter {
	color: #444;
	background: linear-gradient(#fff0 50%, #fff0 60%, #9fe7ff 60%);
}
#dayservice .summary::before {
	background: center / contain no-repeat url(/mn_kaigoshoku/assets/images/support/special/facilitytype/dayservice_summary02.png);
}
#dayservice #merit .merit-item h3::before,
#dayservice #merit .merit-item h3 span {
	color: var(--dayservice3);
}
#dayservice .mv_image02 {
	background-image: url(/mn_kaigoshoku/assets/images/support/special/facilitytype/mv_image02.png);
}
#dayservice .mv_image03 {
	background-image: url(/mn_kaigoshoku/assets/images/support/special/facilitytype/mv_image03.png);
}
#dayservice .localNav li::after {
	border: solid 1px var(--dayservice);
}
#dayservice #job .content_ttl::before,
#dayservice #voice .content_ttl::before {
	height: 37px;
	top: 96px;
	background-image: url(/mn_kaigoshoku/assets/images/support/special/facilitytype/dayservice_ttl.svg);
}
#dayservice #voice .content_ttl::before {
	height: 40px;
	background-image: url(/mn_kaigoshoku/assets/images/support/special/facilitytype/dayservice_ttl_invert.svg);
	top: 86px;
}

@media only screen and (max-width: 767px) {
	#dayservice #merit .merit-item {
		justify-content: space-between;
	}
	#dayservice #merit .merit-item .second {
		padding: 14px 20px 0;
	}
	#dayservice .summary .text p {
		padding: 10px 0 80px;
	}
	#dayservice .mv_image02 {
		left: 20px;
	}
	#dayservice #voice .content_ttl::before {
		top: 48px;
	}
}
